fieldset {
	border: 1px solid #cbcbcb;
}

input, select, textarea {
	width: 100%;
}

.theme-form-table td {
	padding: 10px;
}

#typo3-inner-docbody fieldset {
	width: 620px;
	float: left;
	display: block;
	margin: 10px;
}

#typo3-inner-docbody fieldset legend {
	font-weight: bold;
	font-size: 15px;
	margin-left: 10px;
}