# OS-specific
.DS_Store

# Vagrant stuff
acceptance_config.yml
boxes/*
.vagrant
.vagrant.*

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
Gemfile.lock
test/tmp/

# Documentation
_site/*
.yardoc/
doc/

# Python
*.pyc

# Rubinius
*.rbc

# IDE junk
.idea/*
*.iml

# TYPO3
typo3conf
typo3temp