{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="SharedResources">

</f:section>

<f:section name="Navigation">

</f:section>

<f:section name="SubNavigation">
</f:section>

<f:section name="TabNavigation">

</f:section>

<f:section name="HeroUnit">

</f:section>

<f:section name="Jumbotron">

</f:section>

<f:section name="Footer">

</f:section>

<f:section name="Sidebar">

</f:section>

</div>
