{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="FrontPage" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
		<flux:flexform id="front-page" label="Front Page">
			<flux:flexform.field.input name="settings.entryLevel" label="Main menu entry level override for this page only"
									   eval="int,trim" minimum="0" maximum="6" default="{v:var.typoscript(path: 'lib.menu.main.entryLevel')}">
			</flux:flexform.field.input>
			<flux:flexform.field.input name="settings.lightJumbotronColor" label="Light Jumbotron background color" default="#FFAA00">
				<flux:flexform.field.wizard.colorPicker hideParent="TRUE" />
			</flux:flexform.field.input>
			<flux:flexform.field.input name="settings.darkJumbotronColor" label="Dark Jumbotron background color" default="#A66F00">
				<flux:flexform.field.wizard.colorPicker hideParent="TRUE" />
			</flux:flexform.field.input>
			<flux:flexform.field.input name="settings.jumbotronTextColor" label="Jumbotron text color" default="#FFFFFF">
				<flux:flexform.field.wizard.colorPicker hideParent="TRUE" />
			</flux:flexform.field.input>
			<flux:flexform.field.input name="settings.jumbotronPadding" label="Jumbotron top and bottom padding" default="70"
									   minimum="0" maximum="200" eval="int,trim">
				<flux:Flexform.field.wizard.slider hideParent="TRUE" width="200" />
			</flux:flexform.field.input>
			<flux:flexform.field.input name="settings.headerFontSize" label="Jumbotron header font size" default="80"
									   minimum="0" maximum="200" eval="int,trim">
				<flux:Flexform.field.wizard.slider hideParent="TRUE" width="200" />
			</flux:flexform.field.input>
			<flux:flexform.field.input name="settings.paragraphFontSize" label="Jumbotron paragraph font size" default="24"
									   minimum="0" maximum="200" eval="int,trim">
				<flux:Flexform.field.wizard.slider hideParent="TRUE" width="200" />
			</flux:flexform.field.input>
			<flux:flexform.field.input name="settings.jumbotronMarginBottom" label="Jumbotron bottom margin" default="24"
									   minimum="0" maximum="80" eval="int,trim">
				<flux:Flexform.field.wizard.slider hideParent="TRUE" width="200" />
			</flux:flexform.field.input>
			<flux:flexform.field.checkbox name="enableSearch" label="Enable search field in top navigation bar" default="1" />
			<flux:flexform.field.select size="1" minItems="0" table="pages" maxItems="1" name="searchPageUid" label="Page with search form">
				<flux:flexform.field.wizard.list table="pages" />
			</flux:flexform.field.select>
			<flux:flexform.field.input name="searchFieldName" label="Name (HTML attribute) of form field, example tx_solr[q]" default="q" />
			<flux:flexform.grid>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column colPos="1" name="Jumbotron" />
				</flux:flexform.grid.row>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column colPos="0" name="Main Content" />
				</flux:flexform.grid.row>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column colPos="2" name="Footer Content" />
				</flux:flexform.grid.row>
			</flux:flexform.grid>
		</flux:flexform>
	</f:section>

	<f:section name="Resources">
		<f:render partial="PageObjects" section="SharedResources" />
	</f:section>

	<f:section name="Content">
		<!-- main content output - default rendering -->
		<v:page.content.render column="0" />
	</f:section>

</div>