{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="FrontPage" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
		<flux:flexform id="f2a" label="F2a">
			<flux:flexform.field.select name="settings.showHeaderInContent" items="{0:'default', 1:'on', 2:'off'}" label="Page Title as Content Headline" />
			<flux:flexform.field.select name="settings.bleed"               items="{0:'default', 1:'on', 2:'off'}" label="Bleed Feature Content" />
			<flux:flexform.grid>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column colPos="1" name="Feature" colspan="2"/>
				</flux:flexform.grid.row>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column colPos="0" name="Main Content" />
					<flux:flexform.grid.column colPos="2" name="Sidebar" />
				</flux:flexform.grid.row>
			</flux:flexform.grid>
		</flux:flexform>
	</f:section>

	<f:section name="Content">
		<!-- main content output - default rendering -->
		<v:page.content.render column="0" />
	</f:section>

</div>