{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
{namespace fb=Tx_ThemesFcesFluidcontentBasic_ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
		<flux:flexform wizardTab="Basic FCEs" id="themes-fces-fluidcontent-basic-flashmessage" label="html wrapper" description="" icon="../typo3conf/ext/themes_fces_fluidcontent_basic/Resources/Public/Images/WrapperHtml.png">
			<flux:flexform.field.input name="message-header" label="header of the message" />
			<flux:flexform.field.text name="message-body" label="message body" />

			<flux:flexform.grid>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column>
						<flux:flexform.content name="content" label="Content" />
					</flux:flexform.grid.column>
				</flux:flexform.grid.row>
			</flux:flexform.grid>
		</flux:flexform>
		</flux:flexform>
	</f:section>

	<f:section name="Preview">
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">
		<!-- @todo move to head section or include as resource -->
		<link rel="stylesheet" type="text/css" href="../../../../typo3/sysext/t3skin/stylesheets/structure/element_message.css">
		<link rel="stylesheet" type="text/css" href="../../../../typo3/sysext/t3skin/stylesheets/visual/element_message.css">
		<link rel="stylesheet" type="text/css" href="main.css">

		<div class="typo3-message message-error">
			<div class="message-header">{message-header}</div>
			<div class="message-body">
				<f:format.html>{message-body}</f:format.html>
				<flux:flexform.renderContent area="content" />
			</div>
		</div>
	</f:section>
</div>