{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
{namespace fb=Tx_ThemesFcesFluidcontentBasic_ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
		<flux:flexform wizardTab="Basic FCEs" id="themes-fces-fluidcontent-basic-image-plain" label="plain image" description="" icon="../typo3conf/ext/themes_fces_fluidcontent_basic/Resources/Public/Images/ImagePlain.png">
		</flux:flexform>
	</f:section>

	<f:section name="Preview">
	</f:section>

	<f:section name="Main">
	</f:section>
</div>