{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
{namespace fb=Tx_ThemesFcesFluidcontentBasic_ViewHelpers}

<f:layout name="Content" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
		<flux:flexform wizardTab="Basic FCEs" id="themes-fces-fluidcontent-basic-module-1" label="1 module column" description="" icon="../typo3conf/ext/themes_fces_fluidcontent_basic/Resources/Public/Images/Module.png">
			<flux:flexform.field.input name="moduleTitle" label="Title of the Module" />
			<flux:flexform.field.input name="additionalClass" label="Additional class names" />
			<flux:flexform.grid>
				<flux:flexform.grid.row>
					<flux:flexform.grid.column>
						<flux:flexform.content name="content" label="Content" />
					</flux:flexform.grid.column>
				</flux:flexform.grid.row>
			</flux:flexform.grid>
		</flux:flexform>
	</f:section>

	<f:section name="Preview">
		<div class="" style="padding:10px; border: 2px solid orange; background-color: rgba(255,163,0,0.36);">
			<h1>
				Module title: {moduleTitle}
			</h1>
			<flux:widget.grid />
		</div>
	</f:section>

	<f:section name="Main">
		<v:var.set name="maxImageWidthParent" value="{f:cObject(typoscriptObjectPath:'plugin.tx_themes_fces_fluidcontent_basic.registerHelper.Content.maxImageWidth')}"/>
		<v:var.set name="gutter"              value="{f:cObject(typoscriptObjectPath:'plugin.tx_themes_fces_fluidcontent_basic.registerHelper.Elements.Module.gutter')}"/>
		<v:var.set name="maxImageWidth"       value="{fb:maxImageWidth(parentMaxWidth: maxImageWidthParent, gutter:gutter)}" />

		<div class="moduleGroup singleModule {additionalClass}">
			<div class="module module-1">
				<h3 class="moduleHeader">
					<span>{moduleTitle}&nbsp;</span>
				</h3>

				<div class="moduleBodyWrap">
					<div class="moduleBody">
						<flux:flexform.renderContent area="content" loadRegister="{maxImageWidth: maxImageWidth}" />
						<div class="clearOnly">&nbsp;</div>
					</div>
				</div>
				<div class="moduleFooter"><span>&nbsp;</span></div>
			</div>
			<div class="clearOnly">&nbsp;</div>
		</div>
	</f:section>
</div>