/*div#easylogin-toolbar {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
}
div#easylogin-toolbar .x-toolbar {
	background-color:transparent;
	background-image:none;
	border-bottom   :1px solid darkgray;
	color           :white;
}
*/

body#typo3-index-php {
	padding-top:0px;
}

.x-panel-tbar {
	padding-bottom:0px;
}

.noborder.x-btn-over {
	border-color:transparent;
	background:transparent;
}