<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:tm="http://typo3.org/ns/TYPO3/CMS/ThemesManager/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<div class="navbar navbar-fixed-top">
		<div class="navbar-typo3">
			<div class="container-fluid">

				<div>
					<div id="navbar-main">
						<div class="row-fluid">
							<div class="span6">


							</div>
							<div class="span6 toolbar-left">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<f:flashMessages/>

	<div class="centered flash-message container"></div>

	<div id="container-main">
		<div id="container-main-top" style="width: 98%">
			asdf
		</div>
	</div>

</f:section>
</html>
